@import url('https://fonts.googleapis.com/css2?family=Mandali&display=swap');
a:link {
    text-decoration: none;
}

*:hover {
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}

.login {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: #191919;
}
link{

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

footer {
    position: absolute;
    bottom: 0;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar, .sidebar {
    margin: 0;
    padding: 0;
    font-size: 15px;
    border: none;
    border-radius: 0;
    background-color: #F8F7FF;
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,.2);
}

ul {
    list-style:none;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #EEE;
}

body::-webkit-scrollbar-thumb {
    background: #9381FF;
}

.navbar, .sidebar{
    height:100%;
}

* {
    font-family: 'Mandali', sans-serif;
    font-size: 18px;
    color: #41463D;
}

.custom-search-form{
    margin-bottom:50px;
}
.form-control {
    border: none;
    outline: none;
    border-radius: 20px;
}
.btn {
    border-radius: 20px;
    background-color: #F7A9A8;
}


/*form*/

.search-form {
    position: relative;
    top: 30px;
    left: 110px;
    width: 230px;
    height: 40px;
    border-radius: 40px;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #fff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

    .search-form.focus {
        box-shadow: 2px 2px 5px 0 rgba(0,0,0,.2);
    }

.search-input {
    position: absolute;
    top: 10px;
    left: 38px;
    font-size: 14px;
    background: none;
    color: #5a6674;
    width: 195px;
    height: 20px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

    .search-input::-webkit-search-cancel-button {
        -webkit-appearance: none;
        appearance: none;
    }

.search-button {
    position: absolute;
    top: 10px;
    left: 15px;
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none !important;
    cursor: pointer;
}

.search-button svg {
    width: 20px;
    height: 20px;
    fill: #5a6674;
}

#page-wrapper, body {
    background-color: #F8F7FF;
}

#nav {
    background-color: #EEEEEE;
    color: #FFF;
}
h1 {
    color: #9381FF;
}
.spanNav {
    color: #9381FF;
}
