@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()


        <li class="item" style="padding:5px;">@Html.ActionLink("Olá " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
        <li class="item" style="padding:5px;"><a href="javascript:document.getElementById('logoutForm').submit()"><span class="texto">Sair</span></a></li>
    }
}
else
{
    <li class="item" style="padding:5px;">@Html.ActionLink("Cadastro", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li class="item" style="padding:5px;">@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}
